{% extends 'layout.html.twig' %}

{% set page_title = 'Profiel' %}

{% block body_root %}
    <div class="profile hero row">
        <div class="container">
            <h1>Hey {{ personal.shortname ?? personal.canonical }}!</h1>
        </div>
    </div>
    <div class="profile card row">
    {% block body %}
        <h4>{{ personal.canonical }}</h4>
        <span>E-mail: {{ personal.email ?? '' }}</span><br />
        {% for x in personal.keyValues %}
            <span>{{ x.key }}: {{ x.value }}</span><br />
        {% endfor %}
        <br />
        <a href="{{ path('profile_edit') }}">Gegevens bewerken</a>
    {% endblock %}
    </div>
{% endblock %}

