{% extends 'layout.html.twig' %}

{% set page_title = 'Profiel' %}

{% block body_root %}
    <div class="profile hero row">
        <div class="container">
            <h1>Hey {{ personal.firstname }}!</h1>
        </div>
    </div>
    <div class="profile card row">
    {% block body %}
        <h4>{{ personal.fullname }}</h4>
        <span>E-mail: {{ personal.email ?? '' }}</span>
        <span>Verjaardag: {{ personal.birthday|date('d-m-Y') }}</span>
        <span>Adres: {{ personal.address.address ?? '' }}</span>
    {% endblock %}
    </div>
{% endblock %}

