{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Gebeurtenislog' %}
    {% block results %}
        <span class="text-neutral-300">
        {% if pagination %}
        Resultaten {{ pagination.index }}{% if pagination.results|length > 1 %}-{{ pagination.index + pagination.results|length - 1 }}{% endif %} -
        {% endif %}
        {{ pagination.total ?? log|length }} resultaten gevonden
        </span>
    {% endblock %}
{% endif %}

{% block body %}
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Tijd</th>
                    <th>Gebruiker</th>
                </tr>
            </thead>
            <tbody>
            {% for event in log %}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.time|date('d-m-Y H:i') }}</td>
                    <td>{{ event.person.canonical ?? 'Onbekend' }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>Geen gebeurtenissen.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block pagination %}
<div>
    <div class="h-7 mx-auto bg-white shadow rounded w-max mb-5 overflow-hidden *:block *:float-left *:px-4 *:w-max *:h-full text-xl">
        {% if pagination.hasPrev %}
            <a class="cursor-pointer" href="{{ path('admin_event_index', { 'index': pagination.prev }) }}">&larr;</a>
        {% else %}
            <span class="cursor-default bg-neutral-300 text-neutral-700">&larr;</span>
        {% endif %}
        {% if pagination.hasNext %}
            <a class="cursor-pointer" href="{{ path('admin_event_index', { 'index': pagination.next }) }}">&rarr;</a>
        {% else %}
            <span class="cursor-default bg-neutral-300 text-neutral-700">&rarr;</span>
        {% endif %}
    </div>
</div>
{% endblock %}

