{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Mails' %}
    
    {% block top %}
        {% embed 'admin/listview.html.twig' %}
            {% set resultcount = mails|length %}
        {% endembed %}
    {% endblock %}
{% endif %}

{% block body %}
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Door</th>
                    <th>Vanaf</th>
                    <th>Ontvangers</th>
                    <th>Verzonden op</th>
                </tr>
            </thead>
            <tbody>
            {% for mail in mails %}
                <tr>
                    <td><a href="{{ path("admin_mail_show", { 'id': mail.id }) }}"> {{ mail.title }} </a></td>
                    <td>{{ personReg.find(mail.personId).canonical ?? 'Onbekend' }}</td>
                    <td>{{ mail.sender }}</td>
                    <td>{{ mail.recipients|length }} afzender{{ mail.recipients|length == 1 ? '' : 's' }}</td> 
                    <td>{{ mail.sentAt|date('d-m-Y') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>Geen mails.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
