{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Mails' %}
{% endif %}

{% block body %}
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Door</th>
                    <th>Vanaf</th>
                    <th>Ontvangers</th>
                    <th>Verzonden op</th>
                </tr>
            </thead>
            <tbody>
            {% for mail in mails %}
                <tr>
                    <td>{{ mail.title }}</td>
                    <td>{{ mail.auth.person.canonical }}</td>
                    <td>{{ mail.sender }}</td>
                    <td><a href="{{ path('admin_group_show', { 'id': mail.target.id }) }}">{{ mail.target.relations|length }} {{ mail.target.relations|length == 1 ? 'ontvanger' : 'ontvangers' }}</td>
                    <td>{{ mail.sentAt|date('d-m-Y') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>Geen mails.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
