{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = mail.title ?? '(geen titel)' %}
{% endif %}
    
{% block buttons %}
    <a href="{{ path('admin_mail_index') }}"> Terug </a>
{% endblock %}

{% block body_wrap %}
    <div class="tabs">
        {% embed 'components/tab.html.twig' with {'tab_label': 'Details', 'tab_default': true} %}
            {% block tab %}
            <div class="bg-neutral-50 rounded shadow">
                <div class="table">
                    <table>
                        <tbody>
                            <tr>
                                <th>Titel</th>
                                <td>{{ mail.title }}</td>
                            </tr>
                            <tr>
                                <th>Verstuurd door </th>
                                <td>{{ mail.sender }}</td>
                            </tr>
                            <tr> 
                                <th>Verstuurd op </th>
                                <td>{{ mail.sentAt|date('d-m-Y') }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endblock %}
        {% endembed %}
        
        {% embed 'components/tab.html.twig' with {'tab_label': 'Bericht', 'tab_name': 'content'} %}
            {% block tab %}
            <div class="bg-neutral-50 rounded shadow">
                {{ content|raw }}
            </div>
            {% endblock %}
        {% endembed %}

        {% embed 'components/tab.html.twig' with {'tab_label': 'Ontvangers', 'tab_name': 'recipients'} %}
            {% block tab %}
            <div class="bg-neutral-50 rounded shadow">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Email</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for recipient in mail.recipients %}
                                <tr>
                                    <td> {{ recipient.person.canonical ?? 'Onbekend' }} </td>
                                    <td> {{ recipient.person.email ?? '' }} </td>
                                </tr>
                            {% else %} 
                                <tr>
                                    <td>Geen Ontvangers.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endblock %}
        {% endembed %}
      
    </div>
        
{% endblock %}