<div class="table">
    <table>
        <tbody>
            <tr>
                <th>Titel</th>
                <td>{{ scheme.name }}</td>
            </tr>
            <tr>
                <th>Velden</th>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Type</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for field in scheme.fields %}
                                <tr>
                                    <td>{{ field.name }}</td>
                                    <td>{{ field.valueType }}</td>
                                    <td>
                                        <a href="{{ path('admin_document_field_edit', { 'id': field.id }) }}">Bewerken</a>
                                        <a href="{{ path('admin_document_field_delete', { 'id': field.id }) }}">Verwijderen</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td><a href="{{ path('admin_document_field_new', { 'id': scheme.id }) }}">Veld toevoegen</a></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Expressies</th>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Type</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expression in scheme.expressions %}
                                <tr>
                                    <td>{{ expression.name }}</td>
                                    <td>{{ expression.valueType }}</td>
                                    <td>
                                        <a href="{{ path('admin_document_expression_edit', { 'id': expression.id }) }}">Bewerken</a>
                                        <a href="{{ path('admin_document_expression_delete', { 'id': expression.id }) }}">Verwijderen</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td><a href="{{ path('admin_document_expression_new', { 'id': scheme.id }) }}">Expressie toevoegen</a></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Gemaakt op</th>
                <td>
                    {{ createdAt.time|date('d-m-Y - H:i') }}
                </td>
            </tr>
            <tr>
                <th>Gemaakt door</th>
                <td>
                    {{ createdAt.auth.person.canonical ?? '' }}
                </td>
            </tr>
            <tr>
                <th>Aanpassingen</th>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th>Door</th>
                                <th>Tijdstip</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for modif in modifs %}
                            <tr>
                                <td>{{ modif.auth.person.canonical }}</td>
                                <td>{{ modif.time|date('d-m-Y - H:i') }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Geen aanpassingen.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>