<div class="table">
    <table>
        <thead>
            <tr>
                <th>Naam</th>
                <th>E-mail</th>
                {% for key in scheme.keys %}
                    <th>{{ key.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for person in persons|sort((a, b) => a.canonical <=> b.canonical) %}
            <tr>
                <td><a href="{{ path("admin_person_show", { 'id': person.id }) }}">{{ person.canonical }}</a></td>
                <td>{{ person.email }}</td>
                {% for value in scheme.keys|map(x => person.getValue(x)) %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td>Geen personen.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>