{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Declaraties' %}
    
    {% block top %}
        {% embed 'admin/listview.html.twig' %}
            {% set resultcount = claims|length %}
            
            {% block buttons %}
                <a href="{{ path("admin_claim_new") }} ">Nieuw</a>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endif %}

{% block buttons %}
<a href="{{ path("admin_claim_new") }} ">Nieuw</a>
{% endblock %}

{% block body %}
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Auteur</th>
                    <th>Beschrijving</th>
                    <th>Doel</th>
                    <th>Bedrag</th>
                </tr>
            </thead>
            <tbody>
            {% for claim in claims %}
                <tr>
                    <td>{{ claim.author.person.canonical ?? '' }}</td>
                    <td>{{ claim.description }}</td>
                    <td>{{ claim.purpose }}</td>
                    <td>{{ claim.price }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>Geen declaraties.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
