{% extends 'layout.html.twig' %}

{% set page_title = activity.name %}

{% block body_root %}
<div class="container row">
    <span class="top">
        <h3>{{ page_title }}</h3>
        <span class="buttons">
            <a href="{{ path('organise_activity_image', { 'id': activity.id }) }}">Afbeelding aanpassen</a>
            <a href="{{ path('organise_activity_edit', { 'id': activity.id }) }}">Bewerken</a>
            <a href="{{ path('organise_activity_delete', { 'id': activity.id }) }}">Verwijderen</a>
        </span>
    </span>
    <div class="cardholder">
        <div class="grid-x">
            <div class="cell">
                <div class="card">
                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Aanmelding</th>
                                    <th>Optie</th>
                                    <th>Laatst bewerkt</th>
                                    <th>Acties</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for registration in deregistrations|sort((a, b) => a.deletedate <=> b.deletedate) %}
                                <tr>
                                    <td><strike>{{ registration.person.canonical }}</strike></td>
                                    <td><strike>{{ registration.option.name }}</strike></td> 
                                    <td>{{ registration.deletedate|date('Y-m-d H:i:s')  }} </td>
                                </tr>
                            {% endfor %}
                        {% for registration in registrations|sort((a, b) => a.newdate <=> b.newdate) %}
                                <tr>
                                    <td>{{ registration.person.canonical }}</td>
                                    <td>{{ registration.option.name }}</td>
                                    <td>{{ registration.newdate|date('Y-m-d H:i:s')  }} </td>
                                    <td><a href="{{ path('organise_activity_registration_delete', { 'id': registration.id }) }}">Afmelden</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>Geen aanmeldingen.</td>
                                </tr>
                            {% endfor %}
                                <tr>
                                    <td><a href="{{ path('organise_activity_registration_new', { 'id': activity.id }) }}">Aanmelding toevoegen</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Reservelijst</th>
                                    <th>Optie</th>
                                    <th>Aangemeld</th>
                                    <th>Acties</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for registration in reserve %}
                                <tr>
                                    <td>{{ registration.person.canonical }}</td>
                                    <td>{{ registration.option.name }}</td>
                                    <td>{{ registration.newdate|date('Y-m-d H:i:s')  }} </td>
                                    <td><a href="{{ path('organise_activity_registration_delete', { 'id': registration.id }) }}">Afmelden</a></td>
                                    <td>{% if not loop.first %}<a href="{{ path('organise_activity_registration_reserve_move_up', { 'id': registration.id }) }}">&uarr;</a>{% endif %}</td>
                                    <td>{% if not loop.last %}<a href="{{ path('organise_activity_registration_reserve_move_down', { 'id': registration.id }) }}">&darr;</a>{% endif %}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>Geen reservelijst aanmeldingen.</td>
                                </tr>
                            {% endfor %}
                                <tr>
                                    <td><a href="{{ path('organise_activity_registration_reserve_new', { 'id': activity.id }) }}">Aanmelding reservelijst toevoegen</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                    <div class="table">
                        <table>
                            <tbody>
                                <tr>
                                    <th>Titel</th>
                                    <td>{{ activity.name }}</td>
                                </tr>
                                <tr>
                                    <th>Beschrijving</th>
                                    <td>{{ activity.description }}</td>
                                </tr>
                                <tr>
                                    <th>Aanmelddeadline</th>
                                    <td>{{ activity.deadline|date('d-m-Y') }}</td>
                                </tr>
                                <tr>
                                    <th>Begint</th>
                                    <td>
                                        {{ activity.start|date('d-m-Y - H:i') }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Eindigt</th>
                                    <td>
                                        {{ activity.end|date('d-m-Y - H:i') }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Capaciteit</th>
                                    <td>{% if activity.hasCapacity %}Maximaal {{ activity.capacity }} deelnemers{% else %}Geen maximum{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Afbeelding</th>
                                    <td>{% if activity.image.name %}<img src="{{ vich_uploader_asset(activity, 'imageFile') }}" alt="{{ activity.name }}" />{% else %}Geen afbeelding.{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Kleur</th>
                                    <td>{{ activity.color ?? '' }}</td>
                                </tr>
                                <tr>
                                    <th>Prijzen</th>
                                    <td>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Naam</th>
                                                    <th>Prijs</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for option in activity.options %}
                                                <tr>
                                                    <td>{{ option.name }}</td>
                                                    <td>&euro; {{ '%01.2f'|format(option.price / 100) }}</td>
                                                    <td><a href="{{ path('organise_activity_price_edit', { 'id': option.id }) }}">Bewerken</a></td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td>Geen opties.</td>
                                                </tr>
                                            {% endfor %}
                                                <tr>
                                                    <td><a href="{{ path('organise_activity_price_new', { 'id': activity.id }) }}">Prijs toevoegen</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
