{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Opslaan van aanwezigen ' ~ activity.name%}
{% endif %}

{% block body %}
    <div class="form">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="button-group">
                <button type="submit" class="button add icon">Opslaan</button>
                {% if activity.present is not null %}
                <a href="{{ path('admin_activity_present_reset', { 'id': activity.id }) }}" class="button secondary">Waarde verwijderen</a>
                {% endif %}
                <a href="{{ path('admin_activity_show', { 'id': activity.id }) }}" class="button secondary">Terug</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}