<div class="table">
    <table>
        <tbody>
            <tr>
                <th>E-mailadres</th>
                <td>{{ person.email ?? '' }}</td>
            </tr>
            {% for x in person.keyValues %}
            <tr>
                <th>{{ x.key }}</th>
                <td>{{ x.value }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th>Kan inloggen?</th>
                {% if person.auth.password ?? false %}
                    <td>Ja,<a href="{{ path('admin_security_show', { 'person': person.id }) }}">details bekijken</a></td>
                {% elseif person.auth %}
                    <td>Uitnodiging verstuurd, <a href="{{ path('admin_person_auth', { 'id': person.id }) }}">opnieuw verzenden</a></td>
                {% else %}
                    <td>Nee, <a href="{{ path('admin_person_auth', { 'id': person.id }) }}">Account toevoegen</a></td>
                {% endif %}
            </tr>
            <tr>
                <th>Schema</th>
                <td>{{ person.scheme.name ?? '' }}{% if person.scheme is null %}<i>Geen schema</i>{% endif %}</td>
            </tr>
            <tr>
                <th>Gemaakt op</th>
                <td>
                    {{ createdAt ? createdAt.time|date('d-m-Y - H:i') : '' }}
                </td>
            </tr>
            <tr>
                <th>Gemaakt door</th>
                <td>
                    {{ createdAt.auth.person.canonical ?? '' }}
                </td>
            </tr>
            <tr>
                <th>Aanpassingen</th>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th>Door</th>
                                <th>Tijdstip</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for modif in modifs %}
                            <tr>
                                <td>{{ modif.auth.person.canonical }}</td>
                                <td>{{ modif.time|date('d-m-Y - H:i') }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Geen aanpassingen.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>