<div class="table">
    <table>
        <thead>
            <tr>
                <th>Naam</th>
                <th>Type</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i>E-mail</i></td>
                <td><i>E-mailadres</i></td>
            </tr>
        {% for field in fields %}
            <tr>
                <td>{{ field.name }}</td>
                <td>{{ field.valueType }}</td>
                <td>
                    <a href="{{ path('admin_person_field_edit', { 'id': field.id }) }}">Bewerken</a>
                    <a href="{{ path('admin_person_field_delete', { 'id': field.id }) }}">Verwijderen</a>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td><a href="{{ path('admin_person_field_new') }}">Veld toevoegen</a></td>
            </tr>
        </tbody>
    </table>
</div>