<div class="table">
    <table>
        <thead>
            <tr>
                <th>Naam</th>
                <th>Velden</th>
            </tr>
        </thead>
        <tbody>
        {% for scheme in schemes %}
            <tr>
                <td><a href="{{ path('admin_person_scheme_show', { 'id': scheme.id }) }}">{{ scheme.name }}</a></td>
                <td>{{ scheme.fields|length }} veld{{ scheme.fields|length != 1 ? 'en' : '' }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td><i><a href="{{ path('admin_person_scheme_null') }}">Personen zonder schema</a></i></td>
            </tr>
            <tr>
                <td><a href="{{ path('admin_person_scheme_new') }}">Schema toevoegen</a></td>
            </tr>
        </tbody>
    </table>
</div>