{% extends 'layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = activity.name %}
{% endif %}

{% block body_root %}
<div class="activity hero row {{ activity.color ?? '' }}">
    {% if activity.image.name %}
        <img src="{{ vich_uploader_asset(activity, 'imageFile') }}" alt="{{ activity.name }}" class="filter">
        <img src="{{ vich_uploader_asset(activity, 'imageFile') }}" alt="{{ activity.name }}" class="over">
    {% endif %}
    <div class="container">
        <h2>{{ activity.name }}</h2>
        {% if activity.start|date('d-m-Y') == activity.end|date('d-m-Y') %}
            <span>{{ activity.start|date('d-m-Y H:i') }} - {{ activity.end|date('H:i') }}</span>
        {% else %}
            <span>{{ activity.start|date('d-m-Y H:i') }} - {{ activity.end|date('d-m-Y H:i') }}</span>
        {% endif %}
        <span>Locatie: {{ activity.location.address }}</span>
        <span>Deadline: {{ activity.deadline|date('d-m-Y') }}</span>
        <span>{{ activity.registrations|length }} {{ activity.registrations|length != 1 ? 'aanmeldingen' : 'aanmelding' }}</span>
        
    </div>
</div>
<div class="container row">
    <div class="grid-x">
        <div class="cell small-12 {{ is_granted('ROLE_USER') ? 'medium-8' : ''}}">
            {% for registration in activity.registrations %}
                <p>{{ registration.person }}</p>
            {% endfor %}
            <p>{{ activity.description }}</p>
        </div>
        {% if is_granted('ROLE_USER') %}
        <div class="cell medium-4 registrations">
            <div class="card">
                    <table>
                        <thead>
                            <tr>
                                <th>Aanmeldingen</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for registration in activity.registrations %}
                            <tr>
                                <td>{{ registration.person.fullname }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Geen aanmeldingen.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
