{% extends 'admin/layout.html.twig' %}

{% block body %}
    {# <div class="container">
        <section class="card">
            <div class="card-inner">
                <header>
                    <h2><a href="">Verhuur</a></h2>
                    <a href="" class="button add icon icon-only small inline"></a>
                </header>
                <div class="card-highlight">
                    <p><b>1</b> te laat</p>
                </div>
                <ul>
                    <li><span>vandaag</span> 3</li>
                    <li><span>totaal</span> 4</li>
                </ul>
            </div>
        </section>
    </div> #}
<div class="container">
    <div class="cardholder">
    <div class="grid-x">
        <div class="cell"><div class="card">full width cell<br /><br /></div></div>
        <div class="cell"><div class="card">full width cell<br /><br /></div></div>
    </div>
    <div class="grid-x small-up-2">
        <div class="cell"><div class="card">6 cells<br /><br /></div></div>
        <div class="cell"><div class="card">6 cells<br /><br /></div></div>
    </div>
    <div class="grid-x medium-up-2 xxlarge-up-4">
        <div class="cell"><div class="card"><h2>a card</h2>12/6/3 cells<br /><br /></div></div>
        <div class="cell"><div class="card">12/6/3 cells<br /><br /></div></div>
        <div class="cell"><div class="card">12/6/3 cells<br /><br /></div></div>
        <div class="cell"><div class="card">12/6/3 cells<br /><br /></div></div>
    </div>
    <div class="grid-x large-up-3">
        <div class="cell" style="height: 150px"><div class="card">12/4 cells</div></div>
        <div class="cell"><div class="card">12/4 cells</div></div>
        <div class="cell">
            <div class="grid-y" style="height:100%">
                <div class="cell small-6"><div class="card">top</div></div>
                <div class="cell small-6"><div class="card">bottom</div></div>
            </div>
        </div>
    </div>
    </div>
</div>
    {#
        <section class="card">
            <div class="card-inner">
                <header>
                    <h2><a href="{{ path('admin_activity_index') }}">Activiteiten</a></h2>
                    {% if is_granted('ROLE_ACTIVITY') %}
                        <a href="{{ path('admin_activity_new') }}" class="button add icon icon-only small inline"></a>
                    {% endif %}
                </header>
                {% if activities|length == 0 %}
                <div class="card-empty">
                    <p>Er staat vandaag nog niets op het programma</p>
                    <div class="card-buttons">
                        <a href="{{ path('admin_activity_new') }}" class="button icon small add empty-state">Maak activiteit aan</a><br>
                        <a href="{{ path('admin_activity_index') }}" class="button icon small view empty-state">Toekomstige activiteiten</a>
                    </div>
                </div>
                {% else %}
                <div class="card-activity">
                    {% for activity in activities %}
                        <article>
                            <h3>{{ activity.title }}</h3>
                            <p>{{ activity.startTime|date('H:i') }} - {{ activity.endTime|date('H:i') }}</p>
                            <p>&euro; {{ (activity.cost / 100)|number_format(2, ',', '.') }}</p>
                        </article>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </section>
        <section class="card">
            <div class="card-inner">
                <header>
                    <h2><a href="{{ path('admin_transaction_index') }}">Transacties</a></h2>
                    {% if is_granted('ROLE_TRANS_DECR') %}<a href="{{ path('admin_transaction_new') }}" class="button remove icon icon-only small inline"></a>{% endif %}
                    {% if is_granted('ROLE_TRANS_INCR') %}<a href="{{ path('admin_transaction_increase') }}" class="button add icon icon-only small inline"></a>{% endif %}
                </header>
                <div class="card-highlight">
                    <p><b>&euro; {{ (transaction_current_balance / 100)|number_format(2, ',', '.') }}</b> openstaand tegoed</p>
                </div>
                <ul>
                    <li><span>deze maand</span></li>
                    <li>&euro; {{ (transaction_spent / 100)|number_format(2, ',', '.') }} <span>uitgegeven</span></li>
                    <li>&euro; {{ (transaction_added / 100)|number_format(2, ',', '.') }} <span>opgewaardeerd</span></li>
                </ul>
            </div>
        </section>
        <section class="card">
            <div class="card-inner">
                <header>
                    <h2><a href="{{ path('admin_rental_index') }}">Verhuur</a></h2>
                    {% if is_granted('ROLE_INVENTORY') %}<a href="{{ path('admin_rental_new') }}" class="button add icon icon-only small inline"></a>{% endif %}
                </header>
                <div class="card-highlight">
                    <p><b>{{ inventory_late }}</b> te laat</p>
                </div>
                <ul>
                    <li><span>vandaag</span> {{ inventory_today }}</li>
                    <li><span>totaal</span> {{ inventory_total }}</li>
                </ul>
            </div>
        </section>
        #}
    </div>
{% endblock %}
