{% extends 'admin/layout.html.twig' %}

{% set page_title = 'Overzicht' %}

{% block body_root %}
<div class="container">
    <h2>{{ page_title }}</h2>
</div>
<div class="container row">
    {% if is_granted('ROLE_ADMIN') and updater.newestVersion != version %}
        <h4>Er is een kiwi update beschikbaar</h4> 
        <p>
            huidige versie: {{ version }}<br>
            nieuwste versie: {{ updater.newestVersion}}<br>
            <br>
            <a href="/updater.php" class="button">Klik hier om nu te updaten</a>
        </p>
        <hr>
    {% endif %}
    {% if activities|length > 0 %}
        <div class="cardholder">
            <div class="grid-x">
                <div class="cell">
                    {% for activity in activities %}
                        <a href="{{ path("admin_activity_show", { 'id': activity.id }) }}" class="admin activity">
                            {% if activity.image.name %}
                                <img src="{{ vich_uploader_asset(activity, 'imageFile') }}" alt="{{ activity.name }}" class="bw">
                            {% endif %}
                            <div class="container">
                                <h2>{{ activity.name }}</h2>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <span>Voeg een <a href="{{ path('admin_activity_new') }}">nieuwe activiteit</a> toe.</span>
    {% endif %}
</div>
{% endblock %}
