{% extends 'admin/layout.html.twig' %}

{% set page_title = 'Overzicht' %}

{% block body_root %}
<div class="container">
    <h2>{{ page_title }}</h2>
</div>
<div class="container row">
    {% if updater.newestVersion > version %}
        <h4>Kiwi is {{ date(version).diff(date(updater.newestVersion)).days }} days out of date</h4> 
        <a href="/update.php">Klik hier om nu te updaten</a></p> 
        <p>
            hier release notes. goeie reden om ze met deze PR te include.
            willen we dit ipv de "gray card" activiteiten? dat sluit wel aan met de wens om het extra merkbaar te maken.
        </p>
    {% elseif activities|length > 0 %}
        <div class="cardholder">
            <div class="grid-x">
                <div class="cell">
                    {% for activity in activities %}
                        <a href="{{ path("admin_activity_show", { 'id': activity.id }) }}" class="admin activity">
                            {% if activity.image.name %}
                                <img src="{{ vich_uploader_asset(activity, 'imageFile') }}" alt="{{ activity.name }}" class="bw">
                            {% endif %}
                            <div class="container">
                                <h2>{{ activity.name }}</h2>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <span>Voeg een <a href="{{ path('admin_activity_new') }}">nieuwe activiteit</a> toe.</span>
    {% endif %}
</div>
{% endblock %}
