{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block nav %}
    <input type="checkbox" id="nav-state">
    <header class="topbar">
        <label for="nav-state" class="nav-toggle"><b></b></label>
        <h2 class="nav-site">{{ org }}</h2>
        <div class="nav-profile">
            {% for item in menu.getItems('admin-profile') %}
                <a href="{{item.path is iterable ? path(item.path[0], item.path[1]) : path(item.path)}}">{{ item.title }}</a>
            {% endfor %}
        </div>
    </header>
    <nav>
        <h2>{{ org }}</h2>
        <label for="nav-state" class="nav-toggle"><b></b>Sluit</label>
        {% if activeSection is not defined %}
            {% set activeSection = app.request.get('_route') %}
        {% endif %}
        {% for item in menu.getItems('admin')|merge(menu.getItems('admin-profile')) %}
            {% if (item.role is defined and is_granted(item.role)) or item.role is not defined %}
                {% set item_type = (item.path is defined) ? "a"                          : "span" %}
                {% set item_path = (item.path is defined) ? "href="~(item.path is iterable ? path(item.path[0], item.path[1]) : path(item.path)) : "" %}
                {% set item_active = (item.activeCriteria ?? item.path ?? null in activeSection) ? "active " : "" %}
                {% if item.path is defined %}
                <div class="{{ (item_active ~ " " ~ item.class ?? "")|trim }}">
                {% endif %}
                    <{{ item_type }} class="{{ item_active }}" {{ item_path }}>{{ item.title }}</{{ item_type }}>
                    {% if item.sub is defined %}
                        <div class="sub">
                        {% for sub in item.sub %}
                            <a href="{{ path(sub.path) }}">{{ sub.title }}</a>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% if item.path is defined %}
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </nav>
{% endblock %}

{% block body_root %}
    <div class="container row">
        <span class="top">
            {% block top %}
            <h3>{{ page_title }}</h3>
            <span class="buttons">
            {% block buttons %}
            {% endblock %}
            </span>
            {% endblock %}
        </span>
        {% block body_wrap %}
        <div class="card">
        {% block body %}
        {% endblock %}
        </div>
        {% endblock %}
    </div>
    {% block pagination %}
    {% endblock %}
{% endblock %}

{% block footer %}
    <footer class="bottom">
        <ul class="bottom-legal">
            <li>Helpless Kiwi 0.0.1</li>
            {% if app.environment == 'dev' %}<li>Development mode</li>{% endif %}
            <li>Maintained by Studio Weyne</li>
            <li>Licensed under Apache version 2.0</li>
            <li>Built with &hearts; and Symfony</li>
        </ul>
    </footer>
{% endblock %}
