{% extends 'layout.html.twig' %}

{% set page_title = 'Activiteiten' %}

{% block body_root %}
<div class="container">
    <div class="cardholder">
        <div class="grid-x large-up-2">
            {% for activity in activities %}
                <div class="cell">
                    <a class="activity {{ activity.color ?? '' }}">
                        {% if activity.image.name %}
                            <img src="{{ vich_uploader_asset(activity, 'imageFile') }}" alt="{{ activity.name }}" class="filter">
                            <img src="{{ vich_uploader_asset(activity, 'imageFile') }}" alt="{{ activity.name }}" class="over">
                        {% endif %}
                        <h2>{{ activity.name }}</h2>
                    </a>
                </div>
            {% else %}
                <p>Geen activiteiten, kom later terug!</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
