{% extends 'layout.html.twig' %}

{% set page_title = 'Activiteiten' %}

{% block body_root %}
<div class="container row">
    {% if activities %}
        <div class="cardholder">
            <div class="grid-x large-up-2">
                {% for activity in activities %}
                    <div class="cell">
                        <a href="{{ path("activity_show", { 'id': activity.id }) }}" class="activity {{ activity.color ?? '' }}">
                            {% if activity.image.name %}
                                <img src="{{ vich_uploader_asset(activity, 'imageFile') }}" alt="{{ activity.name }}" class="filter">
                                <img src="{{ vich_uploader_asset(activity, 'imageFile') }}" alt="{{ activity.name }}" class="over">
                            {% endif %}
                            <div class="container">
                                <h2>{{ activity.name }}</h2>
                                <span>{{ activity.start|format_datetime(pattern='E d LLL') }} -
                                {% set registrations = activity.registrations|filter(a => a.deletedate is null and a.reservePosition is null)|length %}
                                {% if not activity.hasCapacity or registrations < activity.capacity %}
                                    {{ registrations }}
                                    {% if activity.hasCapacity %}/ {{ activity.capacity }}{% endif %}
                                    aanmeldingen
                                {% else %}VOL!{% endif %}
                                </span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>Geen activiteiten, kom later terug!</p>
    {% endif %}
</div>
{% endblock %}
