{% extends 'layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = activity.name %}
{% endif %}

{% set messages_overlay = true %}

{% block body_root %}
<div class="activity hero row {{ activity.color ?? '' }}">
    {% if activity.image.name %}
        <img src="{{ vich_uploader_asset(activity, 'imageFile') }}" alt="{{ activity.name }}" class="filter">
        <img src="{{ vich_uploader_asset(activity, 'imageFile') }}" alt="{{ activity.name }}" class="over">
    {% endif %}
    <div class="container">
        <h2>{{ activity.name }}</h2>
        {% if activity.start|date('d-m-Y') == activity.end|date('d-m-Y') %}
            <span>{{ activity.start|format_datetime('medium', 'short') }} - {{ activity.end|format_datetime('none', 'short') }}</span>
        {% else %}
            <span>{{ activity.start|format_datetime('medium', 'short') }} - {{ activity.end|format_datetime('medium', 'short') }}</span>
        {% endif %}
        <span>{{ activity.location.address }}</span>
        {% set prices = activity.options|sort((a, b)=>a.price<=>b.price)|map(p => '%01.2f'|format(p.price / 100)) %}
        {% if prices|length == 0 %}
            <span>Prijs onbekend</span>
        {% else %}
            <span>&euro; {{ prices|first }}{% if prices|first != prices|last %} - &euro; {{ prices|last }}{% endif %}</span>
        {% endif %}
        <span>{{ registrations|length }} {{ activity.hasCapacity ? '/ ' ~ activity.capacity : '' }} aanmeldingen - uiterlijk {{ activity.deadline|format_datetime('medium', 'none') }}</span>
        <div class="buttons">
            {% if not is_granted('ROLE_USER') %}
                <span class="button confirm disabled">Niet ingelogd</span>
            {% elseif options|length == 0 %}
                <span class="button confirm disabled">Niet beschikbaar</span>
            {% elseif activity.deadline|date('Y-m-d') < "now"|date('Y-m-d') %}
                {% if unregister is null %}
                    <span class="button confirm disabled">Inschrijvingen gesloten</span>
                {% else %}
                    <span class="button delete disabled">Uitschrijvingen gesloten</span>
                {% endif %}
            {% elseif unregister is not null %}
                {{ form(unregister) }}
            {% elseif options|length == 1 %}
                {{ form(options|first.form) }}
            {% else %}
                <div class="button confirm grow">
                    <span>Aanmelden</span>
                    <div class="content">
                        <table>
                            <tbody>
                            {% for option in options|sort((a, b)=>a.data.price<=>b.data.price) %}
                                <tr>
                                    <td>{{ option.data.name }}</td>
                                    <td>&euro; {{ '%01.2f'|format(option.data.price / 100) }}</td>
                                    <td>{{ form(option.form) }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="container row">
    <div class="grid-x">
        <div class="cell small-12 {{ is_granted('ROLE_USER') ? 'medium-8' : ''}}">
            <p>{{ activity.description | nl2br }}</p>
        </div>
        {% if is_granted('ROLE_USER') %}
        <div class="cell medium-4 registrations">
            <div class="card">
                    <table>
                        <thead>
                            <tr>
                                <th>Aanmeldingen</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for registration in registrations|map(a => a.person.name ?? a.person.shortname ?? 'Onbekend')|sort((a, b) => a <=> b) %}
                            <tr>
                                <td>{{ registration }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Geen aanmeldingen.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
            {% if reserve|length > 0 %}
            <div class="card">
                    <table>
                        <thead>
                            <tr>
                                <th>Reservelijst</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for registration in reserve|map(a => a.person.name ?? a.person.shortname ?? 'Onbekend')|sort((a, b) => a <=> b) %}
                            <tr>
                                <td>{{ registration }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Geen aanmeldingen reserve.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
