{% extends 'layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = activity.name %}
{% endif %}

{% set messages_overlay = true %}

{% block body_root %}
{% set prices = activity.options|sort((a, b)=>a.price<=>b.price)|map(p => '%01.2f'|format(p.price / 100)) %}
<div class="text-white block h-[70vh] lg:h-[60vh] w-full relative -mt-5 {% if prices|length > 0 %} mb-8 {% else %} mb-5 {% endif %} bg-gray-600">
    {% if activity.image.name %}
        {% set filters = {
            'red':    'filter: contrast(5%) brightness(0.5) sepia(100%) saturate(10) hue-rotate(320deg)',
            'orange': 'filter: contrast(5%) brightness(0.5) sepia(100%) saturate(10) hue-rotate(350deg)',
            'yellow': 'filter: contrast(5%) brightness(0.5) sepia(100%) saturate(10) hue-rotate(10deg)',
            'green':  'filter: contrast(5%) brightness(0.5) sepia(100%) saturate(10) hue-rotate(80deg)',
            'cyan':   'filter: contrast(5%) brightness(0.5) sepia(100%) saturate(10) hue-rotate(120deg)',
            'ltblue': 'filter: contrast(5%) brightness(0.5) sepia(100%) saturate(10) hue-rotate(150deg)',
            'blue':   'filter: contrast(5%) brightness(0.5) sepia(100%) saturate(10) hue-rotate(180deg)',
            'purple': 'filter: contrast(5%) brightness(0.5) sepia(100%) saturate(10) hue-rotate(210deg)',
            'pink':   'filter: contrast(5%) brightness(0.5) sepia(100%) saturate(10) hue-rotate(290deg)',
        }%}
        <img src="{{ vich_uploader_asset(activity, 'imageFile') }}" alt="{{ activity.name }}" class="absolute inline-block h-full w-full object-cover" style="{{ filters[activity.color] ?? 'filter: contrast(5%) brightness(0.5) grayscale(100%)' }}">
        <img src="{{ vich_uploader_asset(activity, 'imageFile') }}" alt="{{ activity.name }}" class="absolute inline-block h-full w-full object-cover filter saturate-200" style="mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.7) 60%, rgba(0,0,0,0.1));">
    {% endif %}
    <div class="mx-auto max-w-6xl px-5 mb-5 absolute left-0 right-0 {% if prices|length > 0 %} bottom-5 {% else %} bottom-0 {% endif %}">
        <h2 class="font-extrabold text-3xl">{{ activity.name }}</h2>
        {% if activity.start|date('d-m-Y') == activity.end|date('d-m-Y') %}
            <span>{{ activity.start|format_datetime('medium', 'short') }} - {{ activity.end|format_datetime('none', 'short') }}</span><br />
        {% else %}
            <span>{{ activity.start|format_datetime('medium', 'short') }} - {{ activity.end|format_datetime('medium', 'short') }}</span><br />
        {% endif %}
        <span>{{ activity.location.address }}</span><br />
        {% if activity.author %}
            <span>{{ activity.author.name }}</span><br />
        {% endif %}
        {% if prices|length > 0 %}
            <span>&euro; {{ prices|first }}{% if prices|first != prices|last %} - &euro; {{ prices|last }}{% endif %}</span><br />
            <span>{{ activity.currentRegistrations|length }} {{ activity.hasCapacity ? '/ ' ~ activity.capacity : '' }} aanmeldingen - uiterlijk {{ activity.deadline|format_datetime('medium', 'none') }}</span><br />
            <div class="-mb-16 mt-4">

                <!--anoniem: "Niet ingelogd"-->
                {% if not is_granted('ROLE_USER') %}
                    <span class="cursor-not-allowed rounded px-4 py-3 bg-red-200 text-white inline-block">Niet ingelogd</span>
                <!--ingelogd, activiteit verleden-->
                {% elseif activity.end|date('Y-m-d') < "now"|date('Y-m-d') %}
                    {% if isRegistered %}
                        <!--ingelogd,activiteit verleden,heeft ticket: "Aangemeld" (grijs)-->
                        <span class="cursor-not-allowed rounded px-4 py-3 bg-red-200 text-white inline-block">Uitschrijvingen gesloten</span>
                    {% else %}
                        <!--ingelogd,activiteit verleden,geen ticket: "Niet aangemeld" (grijs)-->
                        <span class="cursor-not-allowed rounded px-4 py-3 bg-green-200 text-white inline-block">Inschrijvingen gesloten</span>
                    {% endif %}
                <!--ingelogd, activiteit toekomst-->
                {% else %}
                    <!--ingelogd, activiteit toekomst, heeft ticket-->
                    {% if registration %}
                        <!--ingelogd,activiteit toekomst,heeft ticket,deadline niet verstreken: "Afmelden" (schuift door indien wachtlijst)-->
                        {{ form_start(options|first.disengage) }}
                        {{ form_widget(options|first.disengage) }}
                            {% if "now"|date('Y-m-d') < activity.deadline|date('Y-m-d')%}
                                <button class="rounded px-4 py-3 text-white bg-red-500 inline-block" type="submit">Afmelden</button>
                            {% else %}
                                {% if not app.user in (activity.waitlist|map(spot => spot.person)) %}
                                    <!--ingelogd,activiteit toekomst,heeft ticket,deadline verstreken, ticket aangeboden: "Aanbod intrekken"-->
                                    <button class="rounded px-4 py-3 text-white bg-red-500 inline-block" type="submit">Aanbod intrekken</button>
                                {% else %}
                                    <!--ingelogd,activiteit toekomst,heeft ticket,deadline verstreken, niet aangeboden: "Ticket aanbieden"-->
                                    <button class="rounded px-4 py-3 text-white bg-green-500 inline-block" type="submit">Ticket aanbieden</button>
                                {% endif %}
                            {% endif %}
                        {{ form_end(options|first.disengage) }}
                    <!--ingelogd, activiteit toekomst, geen ticket-->
                    {% else %}
                        {% if options|length == 1 %}
                            {% if app.user not in (activity.waitlist|map(spot => spot.person)) %}
                                {{ form_start(options|first.engage) }}
                                {{ form_widget(options|first.engage) }}
                                    {% if activity.atCapacity() %}
                                        <!--ingelogd,activiteit toekomst,geen ticket,niet wachtlijst,vol: "Aanmelden wachtlijst"-->
                                            <button class="rounded px-4 py-3 text-white bg-orange-500 inline-block" type="submit">Aanmelden wachtlijst</button>
                                    {% else %}
                                        {% if activity.deadline|date('Y-m-d') > "now"|date('Y-m-d') %}
                                                <!--ingelogd,activiteit toekomst,geen ticket,niet wachtlijst,vrije plek,deadline niet verstreken: "Aanmelden"-->
                                                <button class="rounded px-4 py-3 text-white bg-green-500 inline-block" type="submit">Aanmelden</button>
                                        {% else %}
                                            <!--ingelogd,activiteit toekomst,geen ticket,niet wachtlijst,vrije plek,deadline verstreken: "Ticket overnemen"-->
                                            <button class="rounded px-4 py-3 text-white bg-green-500 inline-block" type="submit">Ticket overnemen</button>
                                        {% endif %}
                                    {% endif %}
                                {{ form_end(options|first.engage) }}
                            {% else %}
                                {{ form_start(options|first.disengage) }}
                                {{ form_widget(options|first.disengage) }}
                                    {% if activity.atCapacity() %}
                                        <!--ingelogd,activiteit toekomst,geen ticket,op wachtlijst,vol: "Afmelden wachtlijst"-->
                                        <button class="rounded px-4 py-3 text-white bg-red-500 inline-block" type="submit">Afmelden wachtlijst</button>
                                    {% else %}
                                        <!--ingelogd,activiteit toekomst,geen ticket,op wachtlijst,vrije plek: "Afmelden wachtlijst" + "Ticket overnemen"-->
                                        <button class="rounded px-4 py-3 text-white bg-red-500 inline-block" type="submit">Afmelden wachtlijst</button>
                                        <button class="rounded px-4 py-3 text-white bg-green-500 inline-block" type="submit">Ticket overnemen</button>
                                    {% endif %}
                                {{ form_end(options|first.disengage) }}
                            {% endif %}
                        {% else %}
                            <!-- multi options bs -->
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>

<div class="mx-auto max-w-6xl px-5 mb-5">
    {% if is_granted('ROLE_USER') and prices|length > 0 %}
    <div class="w-full sm:w-8/12 sm:pr-5 float-left">
    {% else %}
    <div class="w-full float-left">
    {% endif %}
        <p>{{ activity.description | nl2br }}</p>
    </div>
    {% if is_granted('ROLE_USER') and prices|length > 0 %}
    <div class="w-full sm:w-4/12 z-10 float-left relative mt-5 sm:mt-0">
    <table class="bg-white rounded text-left sm:-mt-40 w-full max-h-96 overflow-y-auto">
        <thead class="border-b-2 border-solid border-neutral-300">
            <tr>
                <th class="p-3">Aanmeldingen</th>
            </tr>
        </thead>
        <tbody>
        {% if activity.currentRegistrations|length > 0 %}
            {% for registration in activity.currentRegistrations|filter(a => not a.external)|map(a => a.person.name ?? a.person.shortname ?? 'Onbekend')|sort((a, b) => a <=> b) %}
                <tr>
                    <td class="p-3">{{ registration }}</td>
                </tr>
            {% endfor %}
            {% set externalCount = activity.currentRegistrations|filter(a => a.external)|length %}
            {% if externalCount > 0 %}
                <tr>
                    <td class="p-3"><i>{{ externalCount }} externe{{ externalCount == 1 ? '' : 'n' }}</i></td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td class="p-3">Geen aanmeldingen.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    </div>
    {% endif %}
</div>
{% endblock %}
