{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Registeer presence voor ' ~ activity.name%}
{% endif %}

{% block body %}
    <div class="form">
        {{ form_start(form) }}
        <table>
            <thead>
                <th>Name</th>
                <th>Aanwezigheid</th>
            </thead>
            <tbody>
                {% for registration in form.registrations %}
                    {% if registration.count != 0 %}
                        <tr>
                            <td>{{ form_label(registration.present) }}</td>
                            <td>{{ form_widget(registration.present) }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            </table>
            <div class="button-group">
                <button type="submit" class="button add icon">Opslaan</button>
                <a href="{{ path('admin_activity_show', { 'id': activity.id }) }}" class="button secondary">Terug</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
