{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Activiteit ' ~ activity.name %}
    
    {% block buttons %}
        <a href="{{ path('admin_activity_image', { 'id': activity.id }) }}">Afbeelding aanpassen</a>
        <a href="{{ path('admin_activity_edit', { 'id': activity.id }) }}">Bewerken</a>
        <a href="{{ path('admin_activity_delete', { 'id': activity.id }) }}">Verwijderen</a>
    {% endblock %}
{% endif %}

{% block body_wrap %}
    <div class="tabs">
        {% embed 'components/tab.html.twig' with {'tab_label': 'Details', 'tab_default': true} %}
            {% block tab %}
            <div class="card">
                <div class="table">
                    <table>
                        <tbody>
                            <tr>
                                <th>Titel</th>
                                <td>{{ activity.name }}</td>
                            </tr>
                            <tr>
                                <th>Beschrijving</th>
                                <td>{{ activity.description }}</td>
                            </tr>
                            <tr>
                                <th>Zichtbaar vanaf</th>
                                {% if activity.visibleAfter is null %}
                                <td><i>verborgen</i></td>
                                {% else %}
                                <td>{{ activity.visibleAfter|date('d-m-Y H:i') }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>Aanmelddeadline</th>
                                <td>{{ activity.deadline|date('d-m-Y') }}</td>
                            </tr>
                            <tr>
                                <th>Georganiseerd door</th>
                                <td>{{ activity.author.name ?? '' }}</td>
                            </tr>
                            <tr>
                                <th>Doelgroep</th>
                                <td>{{ activity.target.name ?? '' }}{% if not activity.target %}<i>Iedereen</i>{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Hoeveelheid aanwezigen</th>
                                {% if activity.present is null %}
                                <td><i>{{activity.currentRegistrations|filter(r => r.present)|length}}</i> (Automatisch gegenereerd)</td>
                                {% else %}
                                <td>{{activity.present}}</td>
                                {% endif %}
                            </tr>
                            {% if activity.start|date('d-m-Y') == activity.end|date('d-m-Y') %}
                                <tr>
                                    <th>Datum</th>
                                    <td>
                                        {{ activity.start|date('d-m-Y') }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Tijd</th>
                                    <td>
                                        {{ activity.start|date('H:i') }} - {{ activity.end|date('H:i') }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <th>Begint</th>
                                    <td>
                                        {{ activity.start|date('d-m-Y - H:i') }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Eindigt</th>
                                    <td>
                                        {{ activity.end|date('d-m-Y - H:i') }}
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>Gemaakt op</th>
                                <td>
                                    {{ createdAt.time|date('d-m-Y - H:i') }}
                                </td>
                            </tr>
                            <tr>
                                <th>Gemaakt door</th>
                                <td>
                                    {{ createdAt.person.canonical ?? '' }}
                                </td>
                            </tr>
                            <tr>
                                <th>Capaciteit</th>
                                <td>{% if activity.hasCapacity %}Maximaal {{ activity.capacity }} deelnemers{% else %}Geen maximum{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Afbeelding</th>
                                <td>{% if activity.photo.image.name %}<img src="{{ vich_uploader_asset(activity.photo, 'imageFile') }}" alt="{{ activity.photo.image.name }}" />{% else %}Geen afbeelding.{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Kleur</th>
                                <td>{{ activity.color ?? '' }}</td>
                            </tr>
                            <tr>
                                <th>Prijzen</th>
                                <td>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Naam</th>
                                                <th>Prijs</th>
                                                <th>Doelgroep</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for option in activity.options %}
                                            <tr>
                                                <td>{{ option.name }}</td>
                                                <td>&euro; {{ '%01.2f'|format(option.price / 100) }}</td>
                                                <td>{{ option.target.name ?? '' }}{% if not option.target %}<i>Iedereen</i>{% endif %}</td>
                                                <td><a href="{{ path('admin_activity_price_edit', { 'id': option.id }) }}">Bewerken</a></td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td>Geen opties.</td>
                                            </tr>
                                        {% endfor %}
                                            <tr>
                                                <td><a href="{{ path('admin_activity_price_new', { 'id': activity.id }) }}">Prijs toevoegen</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <th>Aanpassingen</th>
                                <td>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Door</th>
                                                <th>Tijdstip</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for modif in modifs %}
                                            <tr>
                                                <td>{{ modif.person.canonical ?? 'Onbekend' }}</td>
                                                <td>{{ modif.time|date('d-m-Y - H:i') }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td>Geen aanpassingen.</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endblock %}
        {% endembed %}

        {% embed 'components/tab.html.twig' with {'tab_label': 'Deelnemers', 'tab_name': 'participants'} %}
            {% block tab %}
            <div class="card">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Aanmelding</th>
                                <th>Optie</th>
                                <th>Laatst bewerkt</th>
                                <th>Aanwezigheid</th>
                                <th>Opmerking</th>
                                <th>Acties</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for registration in deregistrations|sort((a, b) => a.deletedate <=> b.deletedate) %}
                            <tr>
                                <td> <strike>{{ registration.person.canonical ?? 'Onbekend' }} </strike> </td>
                                <td> <strike> {{ registration.option.name }}   </strike> </td> 
                                <td>{{ registration.deletedate|date('Y-m-d H:i:s')  }} </td>
                                <td></td>
                                <td></td>
                                <td><a href="mailto:{{ registration.person.email }}" target="_blank">Mailen</a></td>
                            </tr>
                        {% endfor %}
                        {% for registration in activity.currentRegistrations|sort((a, b) => a.newdate <=> b.newdate) %}
                            <tr>
                                <td>{{ registration.person.canonical ?? 'Onbekend' }}{% if registration.external %} <i>(extern)</i>{% endif %}</td>
                                <td>{{ registration.option.name }}</td>
                                <td>{{ registration.newdate|date('Y-m-d H:i:s')  }} </td>
                                <td>
                                {% if registration.present is null %}Onbekend
                                {% elseif registration.present == true %}Aanwezig
                                {% else %}Afwezig
                                {% endif %}
                                </td>
                                <td>{{ registration.comment }}</td>
                                <td>
                                    <a href="mailto:{{ registration.person.email }}" target="_blank">Mailen</a>
                                    |
                                    <a href="{{ path('admin_activity_registration_delete', { 'id': registration.id }) }}">Afmelden</a>
                                    |
                                    <a href="{{ path('admin_activity_registration_edit', { 'id': registration.id }) }}">Bewerken</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Geen aanmeldingen.</td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td><a href="{{ path('admin_activity_registration_new', { 'id': activity.id }) }}">Aanmelding toevoegen</a></td>
                                <td></td><td></td>
                                <td>
                                    {% if activity.currentRegistrations|length == 0 or activity.present is not null %}
                                    <a href="{{ path('admin_activity_present_set', { 'id': activity.id }) }}">Aanwezigheid aangeven</td>
                                    {% else %}
                                    <a href="{{ path('admin_activity_present_edit', { 'id': activity.id }) }}">Aanwezigheid aangeven</td>
                                    {% endif %}
                                <td></td>
                                <td>
                                    {% if activity.currentRegistrations|length > 0 %}
                                    <a href="mailto:?bcc={{ activity.currentRegistrations|map(r => r.person.email)|join(',') }}" target="_blank">Deelnemers mailen</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><a href="{{ path('admin_activity_registration_new_external', { 'id': activity.id }) }}">Externe aanmelding toevoegen</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endblock %}
        {% endembed %}

        {% embed 'components/tab.html.twig' with {'tab_label': 'Reservelijst', 'tab_name': 'reserve'} %}
            {% block tab %}
            <div class="card">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Optie</th>
                                <th>Aangemeld</th>
                                <th>Acties</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for registration in activity.reserveRegistrations %}
                            <tr>
                                <td>{{ registration.person.canonical ?? 'Onbekend' }}</td>
                                <td>{{ registration.option.name }}</td>
                                <td>{{ registration.newdate|date('Y-m-d H:i:s')  }} </td>
                                <td>
                                    <a href="{{ path('admin_activity_registration_delete', { 'id': registration.id }) }}">Afmelden</a>
                                    <a href="mailto:{{ registration.person.email }}" target="_blank">Mailen</a>
                                </td>
                                <td>{% if not loop.first %}<a href="{{ path('admin_activity_registration_reserve_move_up', { 'id': registration.id }) }}">&uarr;</a>{% endif %}</td>
                                <td>{% if not loop.last %}<a href="{{ path('admin_activity_registration_reserve_move_down', { 'id': registration.id }) }}">&darr;</a>{% endif %}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Geen reservelijst aanmeldingen.</td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td><a href="{{ path('admin_activity_registration_reserve_new', { 'id': activity.id }) }}">Aanmelding reservelijst toevoegen</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
