{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Activiteit ' ~ activity.name %}
    
    {% block buttons %}
        <a href="{{ path('admin_activity_image', { 'id': activity.id }) }}">Afbeelding aanpassen</a>
        <a href="{{ path('admin_activity_edit', { 'id': activity.id }) }}">Bewerken</a>
        <a href="{{ path('admin_activity_delete', { 'id': activity.id }) }}">Verwijderen</a>
    {% endblock %}
{% endif %}

{% block body_wrap %}
    <div class="tabs">
        <input type="radio" name="tabs" id="details" checked>
        <label for="details" class="tab active">
            <span>Details</span>
        </label>
        <div class="panel">
            <div class="card">
                <div class="table">
                    <table>
                        <tbody>
                            <tr>
                                <th>Titel</th>
                                <td>{{ activity.name }}</td>
                            </tr>
                            <tr>
                                <th>Beschrijving</th>
                                <td>{{ activity.description }}</td>
                            </tr>
                            <tr>
                                <th>Aanmelddeadline</th>
                                <td>{{ activity.deadline|date('d-m-Y') }}</td>
                            </tr>
                            <tr>
                                <th>Georganiseerd door</th>
                                <td>{{ activity.author.name ?? '' }}</td>
                            </tr>
                            <tr>
                                <th>Doelgroep</th>
                                <td>{{ activity.target.name ?? '' }}{% if not activity.target %}<i>Iedereen</i>{% endif %}</td>
                            </tr>
                            {% if activity.start|date('d-m-Y') == activity.end|date('d-m-Y') %}
                                <tr>
                                    <th>Datum</th>
                                    <td>
                                        {{ activity.start|date('d-m-Y') }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Tijd</th>
                                    <td>
                                        {{ activity.start|date('H:i') }} - {{ activity.end|date('H:i') }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <th>Begint</th>
                                    <td>
                                        {{ activity.start|date('d-m-Y - H:i') }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Eindigt</th>
                                    <td>
                                        {{ activity.end|date('d-m-Y - H:i') }}
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>Gemaakt op</th>
                                <td>
                                    {{ createdAt.time|date('d-m-Y - H:i') }}
                                </td>
                            </tr>
                            <tr>
                                <th>Gemaakt door</th>
                                <td>
                                    {{ personReg.find(createdAt.personId).canonical ?? '' }}
                                </td>
                            </tr>
                            <tr>
                                <th>Capaciteit</th>
                                <td>{% if activity.hasCapacity %}Maximaal {{ activity.capacity }} deelnemers{% else %}Geen maximum{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Afbeelding</th>
                                <td>{% if activity.image.name %}<img src="{{ vich_uploader_asset(activity, 'imageFile') }}" alt="{{ activity.name }}" />{% else %}Geen afbeelding.{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Kleur</th>
                                <td>{{ activity.color ?? '' }}</td>
                            </tr>
                            <tr>
                                <th>Prijzen</th>
                                <td>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Naam</th>
                                                <th>Prijs</th>
                                                <th>Doelgroep</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for option in activity.options %}
                                            <tr>
                                                <td>{{ option.name }}</td>
                                                <td>&euro; {{ '%01.2f'|format(option.price / 100) }}</td>
                                                <td>{{ option.target.name ?? '' }}{% if not option.target %}<i>Iedereen</i>{% endif %}</td>
                                                <td><a href="{{ path('admin_activity_price_edit', { 'id': option.id }) }}">Bewerken</a></td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td>Geen opties.</td>
                                            </tr>
                                        {% endfor %}
                                            <tr>
                                                <td><a href="{{ path('admin_activity_price_new', { 'id': activity.id }) }}">Prijs toevoegen</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <th>Aanpassingen</th>
                                <td>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Door</th>
                                                <th>Tijdstip</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for modif in modifs %}
                                            <tr>
                                                <td>{{ personReg.find(modif.personId).canonical ?? 'Onbekend' }}</td>
                                                <td>{{ modif.time|date('d-m-Y - H:i') }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td>Geen aanpassingen.</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>      

        <input type="radio" name="tabs" id="participants">
        <label for="participants" class="tab">
            <span>Deelnemers</span>
        </label>
        <div class="panel">
            <div class="card">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Aanmelding</th>
                                <th>Optie</th>
                                <th>Laatst bewerkt</th>
                                <th>Acties</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for registration in deregistrations|sort((a, b) => a.deletedate <=> b.deletedate) %}
                            <tr>
                                <td> <strike>{{ personReg.find(registration.personId).canonical ?? 'Onbekend' }} </strike> </td>
                                <td> <strike> {{ registration.option.name }}   </strike> </td> 
                                <td>{{ registration.deletedate|date('Y-m-d H:i:s')  }} </td>
                            </tr>
                        {% endfor %}
                        {% for registration in registrations|sort((a, b) => a.newdate <=> b.newdate) %}
                            <tr>
                                <td>{{ personReg.find(registration.personId).canonical ?? 'Onbekend' }}</td>
                                <td>{{ registration.option.name }}</td>
                                <td>{{ registration.newdate|date('Y-m-d H:i:s')  }} </td>
                                <td><a href="{{ path('admin_activity_registration_delete', { 'id': registration.id }) }}">Afmelden</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Geen aanmeldingen.</td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td><a href="{{ path('admin_activity_registration_new', { 'id': activity.id }) }}">Aanmelding toevoegen</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <input type="radio" name="tabs" id="reserve">
        <label for="reserve" class="tab">
            <span>Reservelijst</span>
        </label>
        <div class="panel">
            <div class="card">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Optie</th>
                                <th>Aangemeld</th>
                                <th>Acties</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for registration in reserve %}
                            <tr>
                                <td>{{ personReg.find(registration.personId).canonical ?? 'Onbekend' }}</td>
                                <td>{{ registration.option.name }}</td>
                                <td>{{ registration.newdate|date('Y-m-d H:i:s')  }} </td>
                                <td><a href="{{ path('admin_activity_registration_delete', { 'id': registration.id }) }}">Afmelden</a></td>
                                <td>{% if not loop.first %}<a href="{{ path('admin_activity_registration_reserve_move_up', { 'id': registration.id }) }}">&uarr;</a>{% endif %}</td>
                                <td>{% if not loop.last %}<a href="{{ path('admin_activity_registration_reserve_move_down', { 'id': registration.id }) }}">&darr;</a>{% endif %}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Geen reservelijst aanmeldingen.</td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td><a href="{{ path('admin_activity_registration_reserve_new', { 'id': activity.id }) }}">Aanmelding reservelijst toevoegen</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
