{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Personen' %}
    
    {% block buttons %}
    <a href="{{ path("admin_person_new") }} ">Nieuw</a>
    {% endblock %}
{% endif %}

{% block body_wrap %}
    <div class="tabs">
        <input type="radio" name="tabs" id="main" checked>
        <label for="main" class="tab">
            <span>Overzicht</span>
        </label>
        <div class="panel">
            <div class="card">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th>E-mail</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for person in persons|sort((a, b) => a.canonical <=> b.canonical) %}
                            <tr>
                                <td><a href="{{ path("admin_person_show", { 'id': person.id }) }}">{{ person.canonical }}</a></td>
                                <td>{{ person.email }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Geen personen.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <input type="radio" name="tabs" id="fields">
        <label for="fields" class="tab">
            <span>Velden</span>
        </label>
        <div class="panel">
            <div class="card">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Type</th>
                                <th>Acties</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><i>E-mail</i></td>
                                <td><i>E-mailadres</i></td>
                            </tr>
                        {% for field in fields %}
                            <tr>
                                <td>{{ field.name }}</td>
                                <td>{{ field.valueType }}</td>
                                <td>
                                    <a href="{#{ path('admin_person_field_edit', { 'id': field.id }) }#}">Bewerken</a>
                                    <a href="{#{ path('admin_person_field_delete', { 'id': field.id }) }#}">Verwijderen</a>
                                </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td><a href="{#{ path('admin_person_field_add') }#}">Veld toevoegen</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}