{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Accounts importeren' %}
{% endif %}

{% block body %}
    <div class="form">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            
            {% if flow.getCurrentStepLabel() == 'confirmation' %}
                <div>
                    Bij deze import zullen {{ data.additions.count }} accounts toegevoegd worden, en zullen {{ data.removals.count }} accounts verwijderd worden. Deze actie is onherstelbaar, wil je doorgaan?
                </div>
            {% endif %}

            {{ form_rest(form) }}
            
            {% if flow.getCurrentStepLabel() == 'upload' %}
                <div>
                    Klik
                    <a href="data:text/csv;charset=utf-8,email,given_name,family_name,oidc,admin%0Aexample@user.kiwi,Example,User,,false" download="template.csv">hier</a>
                    om een template met beschikbare kolommen te downloaden.
                </div>
            {% endif %}

            {% include 'components/formflow_buttons.html.twig' with {'craue_formflow_button_render_reset': false} %}
        {{ form_end(form) }}
    </div>
{% endblock %}
