{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Account' ~ (account.person ? ' van ' ~ account.person.canonical : '') %}
{% endif %}

{% block body %}
    <div class="table">
    <table>
        <tbody>
            <tr>
                <th>Naam</th>
                <td>{{ account.name }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ account.email }}</td>
            </tr>
            <tr>
                <th>Account geactiveerd</th>
                <td>{{ account.password ? 'Ja' : 'Nee' }}</td>
            </tr>
            <tr>
                <th>Rollen</th>
                <td>
                    <ul>
                        {% for role in account.roles %}
                            <li>{{ role }}</li>
                        {% endfor %}
                    </ul>
                    <span><a href="{{ path('admin_security_roles', { 'id': account.id }) }}">Rollen bewerken</a></span>
                </td>
            </tr>
            <tr>
                <th>Gemaakt op</th>
                <td>
                    {{ createdAt ? createdAt.time|date('d-m-Y - H:i') : '' }}
                </td>
            </tr>
            <tr>
                <th>Gemaakt door</th>
                <td>
                    {{ createdAt.account.person.canonical ?? '' }}
                </td>
            </tr>
            <tr>
                <th>Aanpassingen</th>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th>Door</th>
                                <th>Tijdstip</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for modif in modifs %}
                            <tr>
                                <td>{{ modif.person.canonical ?? '' }}</td>
                                <td>{{ modif.time|date('d-m-Y - H:i') }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Geen aanpassingen.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
{% endblock %}
