{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Account van ' ~ account.canonical %}
    {% block buttons %}
        <a href="{{ path('admin_security_edit', { 'id': account.id }) }}">Bewerken</a>
        <a href="{{ path('admin_security_delete', { 'id': account.id }) }}">Verwijderen</a>
    {% endblock %}
{% endif %}

{% block body_wrap %}
    <div class="tabs flex flex-wrap max-w-full">
        {% embed 'components/tab.html.twig' with {'tab_label': 'Details', 'tab_default': true} %}
            {% block tab %}
            <div class="bg-neutral-50 rounded shadow">
                <div class="table">
                    <table>
                        <tbody>
                            <tr>
                            <tr>
                                <th>Voornaam</th>
                                <td>{{ account.givenName }}</td>
                            </tr>
                            <tr>
                                <th>Achternaam</th>
                                <td>{{ account.familyName }}</td>
                            </tr>
                            <tr>
                                <th>E-mail</th>
                                <td><a href="mailto:{{ account.email }}" target="_blank">{{ account.email }}</a></td>
                            </tr>
                            <tr>
                                <th>{{ oidc ? 'Lokale login' : 'Geactiveerd' }}</th>
                                <td>{{ account.password ? 'Ja' : 'Nee' }}</td>
                            </tr>
                            {% if oidc %}
                                <tr>
                                    <th>Externe login</th>
                                    <td>{{ account.oidc ? 'Ja' : 'Nee' }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>Rollen</th>
                                <td>
                                    <ul>
                                        {% for role in account.roles %}
                                            <li>{{ role }}</li>
                                        {% endfor %}
                                    </ul>
                                    <span><a href="{{ path('admin_security_roles', { 'id': account.id }) }}">Rollen bewerken</a></span>
                                </td>
                            </tr>
                            <tr>
                                <th>Gemaakt op</th>
                                <td>
                                    {{ createdAt ? createdAt.time|date('d-m-Y - H:i') : '' }}
                                </td>
                            </tr>
                            <tr>
                                <th>Gemaakt door</th>
                                <td>
                                    {{ createdAt.person.canonical ?? '' }}
                                </td>
                            </tr>
                            <tr>
                                <th>Aanpassingen</th>
                                <td>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Door</th>
                                                <th>Tijdstip</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for modif in modifs %}
                                            <tr>
                                                <td>{{ modif.person.canonical ?? '' }}</td>
                                                <td>{{ modif.time|date('d-m-Y - H:i') }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td>Geen aanpassingen.</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endblock %}
        {% endembed %}

        {% embed 'components/tab.html.twig' with {'tab_label': 'Aanmeldingen', 'tab_name': 'registrations'} %}
            {% block tab %}
            <div class="bg-neutral-50 rounded shadow">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Aanmelding</th>
                                <th>Optie</th>
                                <th>Laatst bewerkt</th>
                                <th>Aanwezigheid</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for registration in account.registrations|sort((a, b) => b.newdate <=> a.newdate) %}
                            <tr>
                                <td>
                                    <a href="{{ path("admin_activity_show", { 'id': registration.activity.id }) }}">{{ registration.activity.name }}</a>
                                    {% if registration.reserve %} (reservelijst) {% endif %}
                                    {% if registration.deletedate %} (afgemeld) {% endif %}
                                </td>
                                <td>{{ registration.option.name }}</td>
                                <td>{{ (registration.deletedate ?? registration.newdate)|date('Y-m-d H:i:s')  }} </td>
                                <td>
                                {% if registration.present is null %}Onbekend
                                {% elseif registration.present == true %}Aanwezig
                                {% else %}Afwezig
                                {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Geen aanmeldingen.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endblock %}
        {% endembed %}
        
        {% embed 'components/tab.html.twig' with {'tab_label': 'Groepen', 'tab_name': 'groups'} %}
            {% block tab %}
            <div class="bg-neutral-50 rounded shadow">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Groep</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for group in account.relations %}
                            <tr>
                                <td><a href="{{ path("admin_group_show", { 'id': group.id }) }}">{{ group.name }}</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Geen groepen.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
