{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% if group is null %}
        {% if all_groups is defined %}
            {% set page_title = 'Alle groepen' %}
        {% else %}
            {% set page_title = 'Groepen' %}
            {% set all_groups = false %}
        {% endif %}
    {% else %}
        {% set page_title = group.name %}
    {% endif %}
    
    {% block buttons %}
        {% if group %}
            {% if can_edit %}
                <a href="{{ path('admin_group_edit', { 'id': group.id }) }}">Bewerken</a>
                <a href="{{ path('admin_group_delete', { 'id': group.id }) }}">Verwijderen</a>
            {% endif %}
            <a href="{{ path('admin_group_show', { 'id': group.parent.id ?? null }) }}">Terug naar {{ group.parent.name ?? 'groepen' }}</a>
        {% else %}
            {% if all_groups %}
                <a href="{{ path('admin_group_show') }}">Terug</a>
            {% else %}
                <a href="{{ path('admin_group_show', { 'showall': true }) }}">Alle groepen</a>
            {% endif %}
        {% endif %}
    {% endblock %}
{% endif %}

{% block body_wrap %}
    {% if group %}
        <div class="tabs">
            {{ block('body_content') }}
        </div
    {% else %}
        {{ block('body_content') }}
    {% endif %}
{% endblock %}

{% block body_content %}
    {% if not group or group.subgroupable %}
        {% if group %}
            <input type="radio" name="tabs" id="subgroups" checked>
            <label for="subgroups" class="tab active">
                <span>Subgroepen</span> 
            </label>
        {% endif %}
        <div class="panel">
            <div class="card">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>{{ group ? 'Subgroepen' : 'Groepen' }}</th>
                                <th>Aantal leden</th>
                                <th>Aantal subgroepen</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for group in groups ?? group.children %}
                            <tr>
                                <td><a href="{{ path('admin_group_show', { 'id': group.id }) }}">{{ group.name }}</a></td>
                                <td>{{ group.relations|length }} {{ group.relations|length == 1 ? 'lid' : 'leden' }}</td>
                                <td>{{ group.children|length }} subgroep{{ group.children|length != 1 ? 'en' : '' }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                {% if group %}
                                <td>Geen subgroepen.</td>
                                {% else %}
                                <td>Geen groepen. Wil je een <a href="{{ path('admin_group_generate_default') }}">standaard indeling genereren</a>?</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        {% if can_edit or group %}
                            <tr>
                                <td><a href="{{ path("admin_group_new", { 'id': group.id ?? '' }) }}">Nieuwe {{ group ? 'sub' : '' }}groep toevoegen</a></td>  
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
    {% if group %}
        {% if group.relationable %}
            <input type="radio" name="tabs" id="groupsmembers" {{ group.subgroupable ? '' : 'checked' }}>
            <label for="groupsmembers" class="tab {{ group.subgroupable ? '' : 'active' }}">
                <span>Groepsleden</span>
            </label>
            <div class="panel">
                <div class="card">
                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Leden</th>
                                    <th>Aanvullende groepen</th>
                                    {% if can_edit %}
                                        <th></th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                            {% for relation in group.relations %}
                                <tr>
                                    <td>{{ relation.root.person.canonical ?? 'Onbekend' }}</td>
                                    <td>
                                        {% for r in relation.allRelations.toArray|filter(a => a.group != group) %}
                                            <a href="{{ path('admin_group_show', { 'id': r.group.id }) }}">{{ r.group.name }}</a>{% if r.group.id != relation.root.group.id and can_edit %} <a href="{{ path('admin_group_relation_delete', { 'id': r.id }) }}">&#128473;</a>{% endif %}{{ loop.last ? '' : ', ' }}
                                        {% endfor %}
                                    </td>
                                    {% if can_edit %}
                                    <td><a href="{{ path('admin_group_relation_add', { 'id': relation.id }) }}">Toevoegen</a></td>
                                    <td><a href="{{ path('admin_group_relation_delete', { 'id': relation.root.id }) }}">Verwijderen</a></td>
                                    {% endif %}
                                </tr>
                            {% else %}
                                <tr>
                                    <td>Geen leden.</td>
                                </tr>
                            {% endfor %}
                            {% if can_edit %}
                                <tr>
                                    <td><a href="{{ path('admin_group_relation_new', { 'id': group.id }) }}">Lid toevoegen</a></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        <input type="radio" name="tabs" id="details" {{ group.relationable or group.subgroupable ? '' : 'checked' }}>
        <label for="details" class="tab {{ group.relationable or group.subgroupable ? '' : 'active' }}">
            <span>Details</span>
        </label>
        <div class="panel">
            <div class="card">
                <div class="table">
                    <table>
                        <tbody>
                            <tr>
                                <th>Titel</th>
                                <td>{{ group.name }}</td>
                            </tr>
                            <tr>
                                <th>Beschrijving</th>
                                <td>{{ group.description }}</td>
                            </tr>
                            <tr>
                                <th>Mag groepsleden bevatten</th>
                                <td>{{ group.relationable ? "Ja" : "Nee" }}</td>
                            </tr>
                            <tr> 
                                <th>Mag subgroepen bevatten</th>
                                <td>{{ group.subgroupable ? "Ja" : "Nee" }}</td>
                            </tr>
                            <tr> 
                                <th>Is actief</th>
                                <td>{{ group.active ? "Ja" : "Nee" }}</td>
                            </tr>
                            <tr> 
                                <th>Is doelgroep</th>
                                <td>{{ group.register ? "Ja" : "Nee" }}</td>
                            </tr>
                            <tr>
                                <th>Aanpassingen</th>
                                <td>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Door</th>
                                                <th>Tijdstip</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for modif in modifs %}
                                            <tr>
                                                <td>{{ modif.person.canonical ?? 'Onbekend' }}</td>
                                                <td>{{ modif.time|date('d-m-Y - H:i') }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td>Geen aanpassingen.</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}