{% extends 'admin/layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = taxonomy.name ?? 'Groepen' %}
    
    {% block buttons %}
        <a href="{{ path("admin_group_new", { 'id': taxonomy.id ?? 'root' }) }}">Nieuw</a>
        {% if taxonomy %}
            <a href="{{ path('admin_group_show', { 'id': taxonomy.parent.id ?? null }) }}">Terug naar {{ taxonomy.parent.name ?? 'groepen' }}</a>
        {% else %}
            {% if show_instances ?? false %}
            <a href="{{ path('admin_group_show') }}">Terug</a>
            {% else %}
            <a href="{{ path('admin_group_show', { 'showall': true }) }}">Alle groepen</a>
            {% endif %}
        {% endif %}
    {% endblock %}
{% endif %}

{% set show_taxonomies = show_taxonomies ?? taxonomy.hasChildren  ?? true %}
{% set show_relations  = show_relations  ?? (taxonomy and taxonomy.relations is defined) %}

{% block body %}
    {% if show_taxonomies %}{% block taxonomies_block %}
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>{{ taxonomy ? 'Subgroepen' : 'Groepen' }}</th>
                    <th>Aantal leden</th>
                </tr>
            </thead>
            <tbody>
            {% for group in children %}
                <tr>
                    <td><a href="{{ path('admin_group_show', { 'id': group.id }) }}">{{ group.name }}</a></td>
                    {% if group.relationcount == 1 %}
                        <td> {{group.relationcount}} lid </td>
                    {% else %}
                        <td> {{group.relationcount}} leden</td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    {% if taxonomy %}
                    <td>Geen subgroepen.</td>
                    <td>n.v.t.</td>
                    {% else %}
                    <td>Geen groepen.{# Wil je een <a href="{{ path('admin_group_generate_default') }}">standaard indeling genereren</a>?#}</td>
                    <td>n.v.t.</td>
                    {% endif %}
                </tr>
            {% endfor %}
            <tr>
                {% if taxonomy %}
                    <td><a href="{{ path("admin_group_new", { 'id': taxonomy.id ?? 'root' }) }}">Nieuwe subgroep toevoegen</a></td>
                {% else %}
                    <td><a href="{{ path("admin_group_new", { 'id': taxonomy.id ?? 'root' }) }}">Nieuwe groep toevoegen</a></td>
                {% endif %}            
            </tr>
            </tbody>
        </table>
    </div>
    {% endblock %}{% endif %}
   
    {% if show_relations %}{% block relations_block %}
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Leden</th>
                </tr>
            </thead>
            <tbody>
            {% for relation in relations %}
                <tr>
                    <td>{{ relation.root.person.canonical }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>Geen leden.</td>
                </tr>
            {% endfor %}
            <tr>
                <td><a href="{{ path('admin_group_relation_new', { 'id': taxonomy.id }) }}">Lid toevoegen</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    {% endblock %}{% endif %}
{% endblock %}