<h2>Hallo {{person.firstname}}, wat leuk dat je hebt aangemeld voor {{activity.name}}!</h2>
<p>Zorg dat je op {{ activity.start|date('d-m-Y') }} om {{ activity.start|date('H:i') }} aanwezig bent bij {{ activity.location.address }}. </p>
<p>De activiteit duurt ongeveer van {{ activity.start|date('H:i') }} tot {{ activity.end|date('H:i') }}. </p>