<h2>{{ title }}</h2>
<p>Hallo {{ person.shortname ?? person.name ?? '' }},<br />
Helaas, je bent afgemeld voor {{ activity.name }} door {{ by.canonical }}. Klopt dit niet? Neem dan contact met deze persoon op.<br />
<br />
Groetjes van {{ org }}<p>